*{
    font-family: "Agency FB", serif;

    font-weight: bolder;
    letter-spacing: 0.1rem;
}

:root{
    --primary-color: black;
    --secondary-color: aquamarine;
    --tertiary-color: white;

    font-size: 9px;

    margin: 0;
    padding: 0;

}


body{
    background-color: var(--primary-color);

    height: 100svh;
    width: 100svw;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


td{
    color: var(--tertiary-color);
}


nav{
    display: flex;
    justify-content: center;

    width: 100svw;
    margin-bottom: 1rem;
}

.tab{
    color: var(--secondary-color);
    background-color: var(--primary-color);

    padding: 13px 17px;
    font-size: 2rem;

    border: 0.2rem black solid;
    border-radius: 2rem;

    transition-duration: 0.6s;
}
#content{
    width: 100%;

    display: flex;
    flex: 1;

    margin-bottom: 1rem;
}

#left, #right{
    width: 50%;
    height: 100%;
}

#left{
    background-color: cadetblue;
}
#right{
    background-color: mediumaquamarine;
}


#tabs{
    display: flex;
    justify-content: center;

    gap: 0.1rem;

    width: fit-content;
    height: 100%;

    border: 0.1rem white solid;
    border-radius: 2rem;

    z-index: 2;
}

.click{
    color: var(--secondary-color);
    background-color: var(--primary-color);

    padding: 13px 17px;
    font-size: 2rem;

    border: 0.35rem black solid;
    border-radius: 2rem;

    transition-duration: 0.5s;
}

.click:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.click:active{
    color: var(--secondary-color);
    border-color: var(--primary-color);

    background-color: white;

    transition-duration: 0s;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 668px) {

    *{
        letter-spacing: 0;
    }
    .tab{
        font-size: 1.5rem;
    }

    .click:hover{
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }

    .click:active{
        color: var(--primary-color);
        border-color: var(--primary-color);

        background-color: var(--tertiary-color);

        transition-duration: 0s;
    }
}

