:root{
    --primary-color: black;
    --secondary-color: aquamarine;
    --tertiary-color: white;

    font-size: 8px;

    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary-color);

    height: 100svh;
    width: 100svw;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: center;
    align-self: flex-end;

    width: 100svw;

    margin-bottom: 1rem;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.1rem;

    width: fit-content;

    border: 0.1rem white solid;
    border-radius: 2rem;

    z-index: 2;
}


.tab{
    color: var(--secondary-color);
    background-color: var(--primary-color);

    padding: 13px 17px;
    font-size: 2rem;

    border: 0.2rem black solid;
    border-radius: 2rem;

    transition-duration: 0.5s;
}



